@use 'palette';
@import './breakpoints';

.mys-font-color-inherit {
  color: inherit;
}

.mys-font-italic {
  font-style: italic;
}

@each $color, $value in palette.$colors {
  .mys-font-color-#{$color} {
    color: $value;
  }
}

.mys-font-shadow {
  text-shadow: 0 3px 6px #00000069;
}

$font-sizes: ( 14, 20, 30);

@each $fontSize in $font-sizes {
  .mys-font-size-#{$fontSize} {
    font-size: ($fontSize / 16) + unquote(rem) !important;
  }
}

$font-weights: (300, 500, 600, 700, 800, 900);

@each $weight in $font-weights {
  .mys-font-w#{$weight / 100} {
    font-weight: $weight;
  }
}

@each $breakpoint in map-keys(map_remove($grid-breakpoints, xs)) {
  @include media-breakpoint-up($breakpoint) {
    @each $size in $font-sizes {
      .mys-font-size-#{$breakpoint}-#{$size} {
        font-size: ($size / 16) + unquote(rem) !important;
      }
    }
  }
}

$letter-spacings: ( 5, 10);

@each $value in $letter-spacings {
  .mys-spacing-#{$value} {
    letter-spacing: $value / 10;
  }
}
