@use '../../../../styles/palette';

.mys-image {

    width: 7rem;
  
}

.mys-sidenav-container {
  height: 100%;
}

.mys-sidenav-content {
  display: flex;
  flex-direction: column;
}

.mys-sidenav-container .mat-drawer {
  background-color: map-get(palette.$primary-palette, 500);
}

main {
  background-color: #fff;
}
.mat-list-item {
  color: palette.$light-primary-text;
}

.mys-sidenav-container {

  background-color: white;
  & .mat-toolbar {
    background-color: #fafafa;
  }
}